.caixa2 {
    position: relative;
    top: 90px;
    width: 940px;
    margin: 0 auto;
}
.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto   ;
}
.titulo-site{
    text-align: center;
}
.logo-site  {
    position: absolute;
   
}
.navegacao li {
    font-size: 25px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    
     
}

}
header{
    background: white;
    padding: 20px 0;}


    
.imagem{
    position: relative;
    top: 290px;
    width: 100%;


}